*,
*::before,
*::after {
    box-sizing: border-box;
}

button:focus {
    outline: none;
}

button {
    font-family: "Noto Serif JP", serif;
    padding: 0;
}

#cant{
    position: absolute;
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh; 
    color: white;
    text-shadow: 0 0 5px #3bf2ff, 0 0 15px #3bf2ff, 0 0 25px #3bf2ff;
    z-index: 9999;
    background-color: black;
}

#scr{
    margin-bottom: 1svh;
}

body {
    background-color: #03030F;
    font-family: "Noto Serif JP", serif;
    color: #E0E0E0;
    margin: 0;
    user-select: none;
    cursor: default;
}

#title {
    background-color: black;
    position: absolute;
    height: 100svh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#ket{
    display: flex;
    flex-flow: column;
    margin-top: 3svh;
}

#all{
    margin-bottom: 5svh;
}

h1 {
    margin: 0;
    color: #31c3dd;
    text-shadow: 0 0 5px #31c3dd, 0 0 15px #31c3dd, 0 0 25px #31c3dd;
    padding: 20px;
    font-size: 8svh;
    text-align: center;
    letter-spacing: 0.2em;
}

h3{
    font-size: 2.5svh;
}

h4{
    font-size: 1.5svh;
    color: gray;
}

span {
    color: #ff4545;
    text-shadow: 0 0 5px #ff4141, 0 0 15px #ff4141, 0 0 25px #ff4141;
}

#st, #de, #submit, #tim {
    border-style: solid;
    border-width: 0.5svh;
    border-radius: 100svh;
    font-size: 3svh;
    background-color: transparent;
    height: 9svh;
    width: 50svh;
    margin-bottom: 20px;
    color: #E0E0E0;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in-out;
}

#tim{
    border-color: #3a8fff;
    box-shadow: 0 0 4px #3a8fff, 0 0 10px #3a8fff;
    font-size: 2.5svh;
    width: 26svh;
    height: 6svh;
    margin-bottom: 3vh;
}

#st {
    border-color: #15ff00;
    box-shadow: 0 0 8px #15ff00, 0 0 15px #15ff00;
}

#st:hover {
    background-color: rgba(0, 191, 255, 0.1);
    box-shadow: 0 0 10px #15ff00, 0 0 20px #15ff00, 0 0 30px #15ff00;
}

#de {
    border-color: #FF8C00;
    box-shadow: 0 0 8px #FF8C00, 0 0 15px #FF8C00;
}

#de:hover {
    background-color: rgba(255, 140, 0, 0.1);
    box-shadow: 0 0 10px #FF8C00, 0 0 20px #FF8C00, 0 0 30px #FF8C00;
}

#submit{
    border-color: #fffb00;
    box-shadow: 0 0 4px #fffb00, 0 0 10px #fffb00;
    font-size: 2.5svh;
    width: 26svh;
    height: 6svh;
    margin-bottom: 0;
}

#submit:hover, #tim:hover {
    background-color: rgba(255, 140, 0, 0.1);
}



#waku {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: 3px solid #ffffff;
    height: 80svh;
    width: 80svh;
}

.left, .right {
    border: 3px solid #ffffff;
    height: 80svh;
    width: 30svh;
}

.left {
    border-right: none;
    display: flex;
    flex-flow: column;
}

.right {
    border-left: none;
    padding: 0 2svh;
}

header {
    height: 10svh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #39FF14;
    text-shadow: 0 0 5px #39FF14, 0 0 10px #39FF14, 0 0 15px rgba(57, 255, 20, 0.7);
    font-size: 5svh;
}

#limit{
    color: #ff1414;
    text-shadow: 0 0 5px #ff1414, 0 0 10px #ff1414, 0 0 15px rgba(255, 20, 20, 0.7);
}

footer {
    height: 10svh;
    margin: 0;
    text-align: center;
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A0A0A0;
    font-size: 2.5svh;
}

main {
    display: flex;
    justify-content: center;
}

.break {
    width: 100%;
}

.zero, .two, .three, .four, .five, .six, .seven, .eight, .nine, .kyu, .han, .loop, .jump {
    border-style: solid;
    border-width: 1px;
    border-color: #555555;
    background-color: #0E0E1A;
    font-size: 2.5svh;
    width: 5%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-shadow: 0 0 2px currentColor;
}

.two {
    color: #4FC3F7;
    text-shadow: 0 0 5px #4FC3F7, 0 0 10px #4FC3F7, 0 0 15px rgba(20, 102, 255, 0.7);
}

.three {
    color: #F44336;
    text-shadow: 0 0 5px #F44336, 0 0 10px #F44336, 0 0 15px rgba(255, 20, 20, 0.7);
}

.four {
    color: #FFEB3B;
    text-shadow: 0 0 5px #FFEB3B, 0 0 10px #FFEB3B, 0 0 15px rgba(172, 132, 0, 0.7);
}

.five {
    color: #e037fd;
    text-shadow: 0 0 5px #e037fd, 0 0 10px #e037fd, 0 0 15px rgba(171, 0, 177, 0.7);
}

.six {
    color: #4CAF50;
    text-shadow: 0 0 5px #4CAF50, 0 0 10px #4CAF50, 0 0 15px rgba(14, 165, 0, 0.7);
}

.seven {
    color: #FF9800;
    text-shadow: 0 0 5px #FF9800, 0 0 10px #FF9800, 0 0 15px rgba(192, 93, 0, 0.7);
}

.eight {
    color: #00A693;
    text-shadow: 0 0 5px #00A693, 0 0 10px #00A693, 0 0 15px rgba(0, 177, 94, 0.7);
}

.nine {
    color: #ff6e9e;
    text-shadow: 0 0 5px #ff6e9e, 0 0 10px #ff6e9e, 0 0 15px rgba(190, 44, 125, 0.7);
}

.checked {
    background-color: #36bd0056;
    border-width: 0.5svh;
    border-color: #00ff00;
    box-shadow: 0 0 5px #1eff30, 0 0 10px rgba(255, 255, 0, 0.7);
}

.flag {
    position: relative;
    overflow: hidden;
    /*background-color: #bd000056;*/
}

.flag::after{
    background-image: url('flag.png');
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

.kyu {
    background-color: #004D99;
    box-shadow: inset 0 0 10px #00BFFF, 0 0 10px rgba(0, 191, 255, 0.5);
}

.han {
    background-color: #b31b00;
    box-shadow: inset 0 0 10px #ff4800, 0 0 10px rgba(255, 72, 0, 0.7);
}

.loop {
    background-color: #3f0092;
    box-shadow: inset 0 0 10px #6f00ff, 0 0 10px rgba(119, 0, 255, 0.7);
}

.jump {
    background-color: #ac9200;
    box-shadow: inset 0 0 10px #ffd900, 0 0 10px rgba(255, 252, 47, 0.5);
}

/* 爆発したマスに適用するクラス */
.exploded, .safe{
    position: relative; /* 疑似要素の基準位置とスタックコンテキストの確立 */
    overflow: hidden;
}

.exploded::after, .safe::after {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

.exploded::after{
    background-image: url('batu.png'); 
}

.safe::after{
    background-image: url('maru.png'); 
}
